@charset "utf-8";
/*!
  © sparanoid.com
*/
.row {
  margin-left: -20px;
}
[class*="span"] {
  float: left;
  margin-left: 20px;
}
.span1 {
  width: 60px;
}
.span2 {
  width: 140px;
}
.span3 {
  width: 220px;
}
.span4 {
  width: 300px;
}
.span5 {
  width: 380px;
}
.span6 {
  width: 460px;
}
.span7 {
  width: 540px;
}
.span8 {
  width: 620px;
}
.span9 {
  width: 700px;
}
.span10 {
  width: 780px;
}
.span11 {
  width: 860px;
}
.span12,
.container {
  width: 940px;
}
.offset1 {
  margin-left: 100px;
}
.offset2 {
  margin-left: 180px;
}
.offset3 {
  margin-left: 260px;
}
.offset4 {
  margin-left: 340px;
}
.offset5 {
  margin-left: 420px;
}
.offset6 {
  margin-left: 500px;
}
.offset7 {
  margin-left: 580px;
}
.offset8 {
  margin-left: 660px;
}
.offset9 {
  margin-left: 740px;
}
.offset10 {
  margin-left: 820px;
}
.offset11 {
  margin-left: 900px;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  color: rgba(0, 0, 0, 0.3);
  background: #fff;
  font-size: 14px;
  font-family: 'Hiragino Mincho Pro', serif;
  line-height: 1.7;
  margin: 0 auto;
  padding: 75px 120px;
  -webkit-perspective: 200;
  -moz-perspective: 200;
  perspective: 200;
}
a {
  color: #000;
  background: rgba(255, 255, 0, 0);
}
a:hover {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 0, 0.9);
}
header,
article,
footer,
h2 {
  padding-bottom: 30px;
}
h1,
article,
footer {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform-origin: -100px 0;
  -moz-transform-origin: -100px 0;
  transform-origin: -100px 0;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 0.8s 1 ease backwards;
  -moz-animation: spin 0.8s 1 ease backwards;
  animation: spin 0.8s 1 ease backwards;
}
h1 {
  position: relative;
  font-weight: 100;
  font-size: 36px;
  line-height: 1;
  margin-left: -4px;
  -webkit-animation-delay: 0.55s;
  -moz-animation-delay: 0.55s;
  animation-delay: 0.55s;
}
h1:before {
  position: absolute;
  top: 0;
  left: -40px;
  height: 38px;
  width: 38px;
  content: '';
  background: url(a.svg) no-repeat 0 0;
  background-size: 38px 38px;
}
h2,
footer,
article p {
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
}
h2 {
  -webkit-animation: txt 0.4s 1 ease backwards;
  -moz-animation: txt 0.4s 1 ease backwards;
  animation: txt 0.4s 1 ease backwards;
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
article:nth-of-type(1) {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
article:nth-of-type(2) {
  -webkit-animation-delay: 0.65s;
  -moz-animation-delay: 0.65s;
  animation-delay: 0.65s;
}
article:nth-of-type(3) {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
article:nth-of-type(4) {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
article:nth-of-type(5) {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
article:nth-of-type(6) {
  -webkit-animation-delay: 0.85s;
  -moz-animation-delay: 0.85s;
  animation-delay: 0.85s;
}
article ul {
  list-style: none;
  -webkit-column-width: 180px;
  -moz-column-width: 180px;
  column-width: 180px;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
footer {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotatey(-180deg);
  }
  100% {
    -webkit-transform: rotatey(0deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotatey(-180deg);
  }
  100% {
    -moz-transform: rotatey(0deg);
  }
}
@keyframes spin {
  0% {
    transform: rotatey(-180deg);
  }
  100% {
    transform: rotatey(0deg);
  }
}
@-webkit-keyframes txt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-moz-keyframes txt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes txt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
::selection {
  background: rgba(255, 255, 0, 0.8);
}
@media screen and (max-width: 240px) {
  :root * {
    display: none;
  }
  :root:before {
    content: "WTF?";
    line-height: 2em;
  }
}
@media only screen and (max-device-width: 480px) {
  :root {
    -webkit-text-size-adjust: none;
    padding: 50px 20px;
  }
}
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  :root {
    color: rgba(255, 255, 255, 0.3);
    background: #000;
  }
  a {
    color: #fff;
    background: rgba(255, 255, 0, 0);
  }
  h1:before {
    border-color: #fff;
  }
}
